

@import url("http://www.tuckey.org/res/bootstrap/css/bootstrap.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700italic");

body {
    font-family: 'open sans', Sans-Serif;
}
.top {
    margin-top: 20px;
    border-top: 4px solid black;
}
.footer, #footer {
    margin-top: 50px;
    padding-top: 10px;
    border-top: 4px solid black;
    margin-bottom: 100px;
}
a {
    color: #4979c0;
}

#main h1 {
    border-bottom: none;
    font-size: 24px;
    margin-top: 0;
}
h1, h2 {
    text-align: center;
    font-weight: 700;
    font-style: italic;
}
h1 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 60px;
}
h2 {
    border-bottom: none;
    margin-top: 40px;
    margin-bottom: 20px;
}
h3 {
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 10px;
}
big {
    font-size: 20px;
    line-height: 25px;
}


#logo {
    vertical-align: middle;
}

#masthead {
    -moz-border-radius-topright: 20px;
}

#masthead a {
    text-decoration: none;
    color: black;
}

hr {
    border: 0px;
    background-color: #c0c0c0;
}

pre {
    margin-top: 5px;
    margin-bottom: 5px;
}

.err {
    color: #ff0000;
}

#menu ul {
    list-style-type: none;
    margin-left: .5em;
    padding-left: .5em;
    margin-top: 7px;
}
#menu li {
    margin-bottom: 7px;
}

#main {
    min-height: 400px;
}

#footer {
    text-align: center;
    font-size: small;
}

#footer a {
    text-decoration: none;
}
