<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>test</display-name>
    <description>test context</description>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>debug</param-value>
        </init-param>
        <init-param>
            <param-name>allowConfSwapViaHttp</param-name>
            <param-value>true</param-value>
        </init-param>
     </filter>

    <filter>
        <filter-name>UrlRewriteFilter-mod</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>debug</param-value>
        </init-param>
        <init-param>
            <param-name>statusPath</param-name>
            <param-value>/mod/rewrite-status</param-value>
        </init-param>
        <init-param>
            <param-name>modRewriteConfText</param-name>
            <param-value><![CDATA[

                # simple test rule
                RewriteRule  ^/mod/simple/test$ /mod/index.jsp  [L]
                RewriteRule  ^/mod/simple/cookie$ http://127.0.0.1:8080/webapp/cookie  [P]
            ]]></param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>UrlRewriteFilter-mod</filter-name>
        <url-pattern>/mod/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Settest</servlet-name>
        <servlet-class>org.tuckey.web.filters.urlrewriteviacontainer.SettestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Settest</servlet-name>
        <url-pattern>/settest.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cookie Test</servlet-name>
        <servlet-class>org.tuckey.web.filters.urlrewriteviacontainer.CookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Cookie Test</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
</web-app>
